main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.customersay_side_menu {
    width: 219px;
    border-right: 1px solid #cbcbcb;
}
.customersay_side_menu h2 {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    padding: 50px 0 40px 20px;
}
.customersay_side_menu ul li {
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 1px solid #cbcbcb;
}
.eulji60 a {
    padding: 15px 111px 15px 15px ;
}
.biography a {
    padding: 15px 107px 15px 15px ;
}
.hospitalinfo a {
    padding: 15px 130px 15px 15px ;
}
.hospitalmap a {
    padding: 15px 89px 15px 15px ;
}
.customersay a {
    padding: 15px 107px 15px 15px ;
}
.notice a {
    padding: 15px 132px 15px 15px ;
}
.customersay {
    background: #3586cf;
    color: #fff;
}
.eulji60:hover, .biography:hover, .hospitalmap:hover, .hospitalinfo:hover, .notice:hover {
    text-decoration: underline;
}
.customersay_wrap {
    width: 900px;
}
.customersay_wrap h2 {
    margin: 60px 0 10px;
    font-size: 25px;
}
.customersay_content_txt {
    margin: 50px 0 40px;
    font-size: 14px;
}
.customersay_content_txt p:first-child {
    font-size: 25px;
    color: #3586cf;
}
.customersay_content_txt p:nth-child(2) {
    margin: 5px 0 8px;
}
.customersay_content_txt p:last-child {
    font-weight: bold;
    color: gray;
}
.commend_fix_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 20px 0 50px;
    border: 2px solid #eee;
    padding: 50px;
}
.commend_fix_wrap span {
    display: block;
    width: 1px;
    height: 200px;
    background: #cbcbcb;
}
.commend_fix_wrap img {
    width: 200px;
}
.commend_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.fix_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.commend_fix_wrap h3 {
    font-size: 23px;
}
.commend_wrap a {
    background: #f69247;
    color: #fff;
    padding: 10px 40px;
    font-size: 15px;
}
.fix_wrap a {
    background: #1cc0b7;
    color: #fff;
    padding: 10px 40px;
    font-size: 15px;
}


.manager {
    width: 900px;
    background: url(../images/manager.png)no-repeat 17px/22px;
    padding: 15px 0 15px 50px;
    border: 1px solid #cbcbcb;
    color: gray;
    margin-bottom: 70px;
    box-sizing: border-box;
}